{% extends 'main/base.html' %}


{% block content %}
<div class="carousel slide" id="carouselControls" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://w-dog.ru/wallpapers/9/17/322057789001671/zakat-nebo-solnce-luchi-oblaka-tuchi-pole-kolosya-zelenye-trava.jpg" alt="">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://get.wallhere.com/photo/road-clouds-river-mountains-asphalt-marking-1069905.jpg" alt="">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://3.bp.blogspot.com/-yhsInEm1VS0/V_HXrZYFIiI/AAAAAAAAC7M/iRyKJEJRhdYUFHYXAZcc5OSB-nylsP05QCLcB/s1600/waterfall-wallpaper-background-hd-8098-8446-hd-wallpapers.jpg" alt="">
        </div>
    </div>

    <a href="#carouselControls" class="carousel-control-prev" role="button" data-bs-slide="prev">
        <spam class="carousel-control-prev-icon"></spam>
    </a>
    <a href="#carouselControls" class="carousel-control-next" role="button" data-bs-slide="next">
        <spam class="carousel-control-next-icon"></spam>
    </a>
</div>
{% endblock %}
